.btn {
  border-radius: rem(4px);
  color: var(--c-blue--base);
  line-height: 2;
  font-family: 'Poppins', sans-serif;
  padding-left: rem(28px);
  padding-right: rem(28px);
  text-transform: uppercase;
  transform: scale(1);
  transition: transform 300ms;

  &:hover {
    text-decoration: none;
  }

  &:active {
    transform: scale(.9);
  }

  &-primary {
    color: var(--c-white);
  }

  &-outline-primary {
    background: transparent;
    border: 2px solid var(--c-blue--base);
    transition: background-color 300ms;

    &:hover {
      background-color: var(--c-blue--base);
      border: 2px solid var(--c-blue--base);
      color: var(--c-white);
    }
  }
}