.gradient1 {
}

.path1 {
  animation: aniPath1 6s infinite forwards;
  transform: translate(70px, -3795.91px);

  @keyframes aniPath1 {
    0% {
      transform: translate(70px, -3795.91px);
    }

    50% {
      transform: translate(100px, -3795.91px);
    }

    100% {
      transform: translate(70px, -3795.91px);
    }
  }
}

.path2 {
  animation: aniPath2 6s infinite forwards;
  transform: translate(-1881.264px, -3697.967px) scale(1);
}

.path3 {
  transform: translate(-776.024px, -3674.325px);
}
