:root {
  --c-black--strong: #21252b;
  --c-black--base: #2c2727;
  --c-blue--base: #4390e8;
  --c-white: #fff;
  --c-gray--base: #f8f8f8;
  --shadow--size: 0 5px 8px;
}

$info: #4390e8;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1360px
);
