
*::selection {
  background-color: var(--c-blue--base);
  color: var(--color-white);
}

*::-webkit-scrollbar-track {
  background-color: var(--color-gray--light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--c-blue--base);
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
}

*::-webkit-scrollbar {
  background-color: var(--color-gray--light);
  width: 10px;
}

html,
body {
  background-color: var(--c-gray--base);
  font-family: 'Questrial', sans-serif;
}

body {
  padding: rem(74px) 0 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: rem(18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Questrial', sans-serif;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: rem(80px);
}

h2 {
  font-size: rem(53px);
}

h4 {
  font-size: rem(38px);
}
